h1 {
  text-align: center;
  margin-bottom: 70px;
}

.page_wrapper {
  padding-top: 30px;
}

.auth_wrapper {
  display: flex;
  justify-content: space-around;
}

.auth_link {
  text-decoration: none;
  color: black;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.auth_link:hover,
.auth_link:focus {
  color: azure;
}
