.modal {
  width: 200px;
  /* height: 400px; */
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgb(177, 191, 208);
  border-radius: 5px;
}

.close {
  margin-left: 95%;
  position: absolute;
  top: 5px;
  left: -15px;
  border-radius: 15px;
}
