img {
  border-radius: 17px;
}

.box {
  height: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(121, 176, 224);
  padding: 10px 10px;
}
